@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 19px 12px;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 13px;

}

ul li a{
  color: white;
  text-decoration: none;
}

ul li a:hover{
  color: lightgray;
}

footer{
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

main{
  min-height: 90vh;
  padding: 2px;
}

.container{
  max-width: 80vw;
  margin: auto;
  padding: 15px 0px;
}

.container h1{
  padding: 10px 0px;
}

.btn{
  background-color: black;
  color: white;
  padding: 6px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: black;
  font: bolder;
  border: 2px solid black;
}

#username{
  padding: 8px;
}

#resultCont div::first-letter{
  text-transform: capitalize;
}